$clr-primary:#001C26;
$clr-secondary:#33DEE6;
$clr-tertiary:#33DCE4;

$clr-black:#000000;
$clr-white:#ffffff;

$clr-grey:#b4b4b4;
$clr-grey-1:#E2E2E2;
$clr-grey-2:#F1F1F1;
$clr-grey-3:#F6F7FB;


$linear-gradient-clr:rgba(0, 28, 38);
$clr-linear-gradient: linear-gradient(90deg, rgb(0, 28, 38) 0%, rgb(51, 222, 230) 100%);
$clr-linear-gradient-opposite: linear-gradient(-90deg, rgb(0, 28, 38) 0%, rgb(51, 222, 230) 100%);